<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test express</title>
</head>
<body>
  <h1>Fichier <small>HTML</small></h1>

  <!-- Quand même route, pas besoin de mettre 'action=""' => app.get && app.post -->
  <form method="POST">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="Mot de passe">
    <button type="submit">Connexion</button>
  </form>
  
  <h2>Voici mon image :</h2>
  <img src="/static/images/03.JPG" width="200px">
</body>
</html>