<%- include('../template/header.ejs') %>
<h1>Articles</h1>

<ul>
  <% for (const post of posts) { %> 
    <li><%= post.title %>  (<%= post.category ? post.category : 'Aucune catégorie' %>)</li>
    <% } %> 
  </ul>
<%- include('../template/footer.ejs') %>